<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1,minimal-ui">
    <title>Document</title>
</head>

<body>
    <div style="display:none"> <img id="weixinlogo" src="./imgs/weixin-logo-45a2c389194a654bbb6ace46eae741d6.jpg"> </div>
    <div style="display:none" t="2016-08-04 17:06:34"></div>
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="./style/vendors.css?24b2c3e0c86002592c3a" rel="stylesheet">
    <link href="./style/search_list.css?24b2c3e0c86002592c3a" rel="stylesheet">

    <div class="wraper">

        <div class="sr_main">
            <div class="header_wrapper">
                <div class="sr_head clearfix">
                    <div class="sr_head_sub">
                        <div class="all_cate">
                            <i class="sr_ico sr_ico1"></i><span class="cate_tit">全部分类</span>
                        </div>
                    </div>
                    <a class="arrow-left backpage"></a>
                    <div class="search_box">
                        <form id="sr_fm">
                            <div class="sr_inp_bg">
                                <input class="sr_inp" type="search">
                            </div>
                        </form>
                    </div>
                    <div class="classify hide">
                        <ul class="clearfix">
                        </ul>
                    </div>
                </div>

                <ul class="sr_sort clearfix">
                    <li class="sort2" type="sales" direct="desc">按销量排序<i class="sr_ico dir"></i></li>
                    <li class="sort3" type="price" direct="desc">按价格排序<i class="sr_ico dir"></i></li>
                </ul>
            </div>

            <div class="sr_list" style="min-height: 635px;">
                <ul class="pre-list pre-list-2" id="productList">
                    <li>
                        <div class="pre-item" pid="4589">
                            <a href="/product.html?product_id=4589&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/57a5e9fe29fcc.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=4589">
                                    <p class="pre-name">48小时特惠 护生画集 丰子恺作品 读库</p>
                                </a>
                                <p class="pre-subtitle">被称为“佛教艺术的佳构”，共七册</p>
                                <p class="pre-price"> <span>¥360</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="4589"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3425">
                            <a href="/product.html?product_id=3425&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/579ac87494830.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3425">
                                    <p class="pre-name">3岁以下儿童绘本夏季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给3岁以下孩子的最好绘本，套装内含7种书</p>
                                <p class="pre-price"> <span>¥336</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3425"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3440">
                            <a href="/product.html?product_id=3440&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/578bee4315886.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3440">
                                    <p class="pre-name">多媒体音乐启蒙书 乐器总动员 读小库</p>
                                </a>
                                <p class="pre-subtitle">AR效果，随身携带小乐队，50种乐器可独奏合奏</p>
                                <p class="pre-price"> <span>¥198</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3440"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="1533">
                            <a href="/product.html?product_id=1533&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5766ca2fb6e57.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=1533">
                                    <p class="pre-name">修复民国老课本 读库</p>
                                </a>
                                <p class="pre-subtitle">民国影响最大的老课本《共和国教科书》 整套共17册</p>
                                <p class="pre-price"> <span>¥490</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="1533"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="529">
                            <a href="/product.html?product_id=529&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5796c9dcb5fcc.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=529">
                                    <p class="pre-name">大自然 绘本套装 读库 </p>
                                </a>
                                <p class="pre-subtitle">给孩子的最美读物 一套书认识大自然 ，法国名社出版</p>
                                <p class="pre-price"> <span>¥198</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="529"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3426">
                            <a href="/product.html?product_id=3426&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/57989390277e4.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3426">
                                    <p class="pre-name">3岁以上儿童绘本夏季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给3到6岁孩子的最好绘本，套装内含12种书</p>
                                <p class="pre-price"> <span>¥594</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3426"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3429">
                            <a href="/product.html?product_id=3429&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5798936fe8777.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3429">
                                    <p class="pre-name">6岁以上儿童绘本夏季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给6到9岁孩子的最好绘本，套装内含7种书</p>
                                <p class="pre-price"> <span>¥578</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3429"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3433">
                            <a href="/product.html?product_id=3433&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5798931018896.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3433">
                                    <p class="pre-name">12岁以上儿童绘本夏季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给12岁以上少年的最好读物，套装内含12种书</p>
                                <p class="pre-price"> <span>¥650</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3433"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="918">
                            <a href="/product.html?product_id=918&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d15ad46d7e.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=918">
                                    <p class="pre-name">0-6岁儿童绘本春季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给6岁以下孩子的最美绘本 ，套装内含10种绘本</p>
                                <p class="pre-price"> <span>¥594</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="918"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3431">
                            <a href="/product.html?product_id=3431&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5798934eeae5f.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3431">
                                    <p class="pre-name">9岁以上儿童绘本夏季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给9到12岁孩子的最好绘本，套装内含10种书</p>
                                <p class="pre-price"> <span>¥668</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3431"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="924">
                            <a href="/product.html?product_id=924&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d2821045a3.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=924">
                                    <p class="pre-name">收藏级绘本《蝴蝶夫人》</p>
                                </a>
                                <p class="pre-subtitle">当红插画师演绎歌剧经典， 风靡各国 展开超10米长卷</p>
                                <p class="pre-price"> <span>¥198</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="924"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="527">
                            <a href="/product.html?product_id=527&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d1c29ee21f.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=527">
                                    <p class="pre-name">《又自在又美丽》磨铁</p>
                                </a>
                                <p class="pre-subtitle">76幅手绘植物插画 ，书+限量笔记本+植物卡纸2张+植物书签4枚</p>
                                <p class="pre-price"> <span>¥98</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="527"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="919">
                            <a href="/product.html?product_id=919&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d0e4979189.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=919">
                                    <p class="pre-name">6岁以上儿童绘本春季套装 读小库</p>
                                </a>
                                <p class="pre-subtitle">给6到9岁孩子的最美绘本，套装内含12种绘本</p>
                                <p class="pre-price"> <span>¥678</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="919"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="922">
                            <a href="/product.html?product_id=922&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d269e512dc.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=922">
                                    <p class="pre-name">笔记本《吻》+图册《读》</p>
                                </a>
                                <p class="pre-subtitle">玛格南图片社经典作品 ，40幅吻照 ，百余幅经典阅读主题图片</p>
                                <p class="pre-price"> <span>¥103</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="922"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="925">
                            <a href="/product.html?product_id=925&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/574d28efbb51f.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=925">
                                    <p class="pre-name">最经典的希腊神话书</p>
                                </a>
                                <p class="pre-subtitle"> 精装布封版《多莱尔的希腊神话书》 风行半世纪 千万销量</p>
                                <p class="pre-price"> <span>¥88</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="925"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="1646">
                            <a href="/product.html?product_id=1646&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/576ecfa7c8ebe.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=1646">
                                    <p class="pre-name">艺术史经典《中国纹样》</p>
                                </a>
                                <p class="pre-subtitle">百年前的百幅最美中国纹样 附赠涂色本</p>
                                <p class="pre-price"> <span>¥99</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="1646"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="2711">
                            <a href="/product.html?product_id=2711&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5782197ab6342.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=2711">
                                    <p class="pre-name">“好孕”笔记礼盒套装</p>
                                </a>
                                <p class="pre-subtitle">父母给宝贝的人生第一件礼物 给准爸妈、新婚朋友送礼的最佳选择</p>
                                <p class="pre-price"> <span>¥218</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="2711"></i> </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="pre-item" pid="3247">
                            <a href="/product.html?product_id=3247&amp;source=fcategory_1"> <img class="pre-img" src="http://prod.image.yit.com/5/7/5787260cc4ed4.jpg-h5square1" alt=""> </a>
                            <div class="pre-info">
                                <a href="/product.html?product_id=3247">
                                    <p class="pre-name">蔡志忠禅画活页 读库</p>
                                </a>
                                <p class="pre-subtitle">宣纸彩印，三折布面函装，适合收藏</p>
                                <p class="pre-price"> <span>¥320</span>
                                    <!--stock==0禁用--><i class="pre-addcar " product_id="3247"></i> </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="loading_bot" id="loading_bot" style="display: block;"><span>点击加载下一页</span><em>没有更多</em></div>
            </div>


        </div>

        <div class="back-top" style="display: none;"></div>
    </div>
    <!--  数据loading效果 -->
    <div>
        <div id="loadingToast" class="weui_loading_toast" style="display: none;">
            <div class="weui_mask_transparent"></div>
            <div class="weui_toast">
                <div class="weui_loading">
                    <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                    <div class="weui_loading_leaf weui_loading_leaf_11"></div>
                </div>
                <p class="weui_toast_content">数据加载中</p>
            </div>
        </div>
    </div>
</body>
<script id="tpl_sr_nav" type="text/template">
    {^each result as it, index}
    <li cname="$_{it.title}" cid="$_{it.category_id}">
        <img src="$_{it.image_url}" alt="" width="54" height="54">
        <span>$_{it.title}</span>
    </li>
    {^/each}
</script>

<script id="tpl_sr_list" type="text/template">
    <% _.each(list,function(item,index){ %>
    <li>
        <div class="pre-item" pid="$_{it.product_id}">
            <a href="/product.html?product_id=$_{it.product_id}$_{it.spm}">
                <img class="pre-img" src="$_{it.image_url}-h5square1" alt="" />
            </a>
            <div class="pre-info">
                <a href="/product.html?product_id=$_{it.product_id}">
                    <p class="pre-name">$_{it.product_name}</p>
                    <p class="pre-name"><%= item.product_name %></p>

                </a>
                <p class="pre-subtitle"><%= item.second_title%></p>
                <p class="pre-price">
                    <span>&yen;<%= item.price %></span>
                    <!--stock==0禁用-->
                    <i class="pre-addcar {^if it.stock=='0'} disable {^/if}" product_id="$_{it.product_id}"></i>
                </p>
            </div>
        </div>
    </li>
    <% }) %>
</script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script>
//数据是否加载完成
var loadingCompleted=false;
var lock=false;
//分页请求数据当前起始位置
var start=0;
//分次请求数据每次每次请求条数
var size=20;Ω
var orderByCount='min';//默认按照升序排列max/min
var orderByPrice="max";//默认按照低价排序max/min

//执行数据加载
var fetchData=function(params,callback){
  //锁定请求
  if(lock){
    return false;
  }
  lock=true;
  $('.loadingToast').show();
  $.ajax({
    url:'',
    data:params
  })
  //返回数据格式
  /**
  {
    //列表数据
    list:[{

    }],
    completed:Boolean//标志当前数据是否请求完成
  }
  **/
  .success(function(data){
    callback(data);
  })
  .always(function(){
    //解锁
    lock=false;
    $('.loadingToast').hide();
  })
};
$(function(){
  $('#loading_bot').on('click',function(){
    if(loadingCompleted){
      return false;
    }
    fetchData({
      start:start,
      size:size
    },function(res){
      var tpl=$('#tpl_sr_list').html();
      //渲染模板
      var str=_.template(tpl,{
        list:res.list
      });
      $(str).appendTo('#productList');

      //如果当前数据请求完成
      start+=res.list.length;
      //表示当前数据请求完 没有更多数据
      completed=res.completed;
    })
  });

  //销量排序 价格排序 搜索排序
  $('.sort2,.sort3').on('click',function(){
    //如果点击的是销量排序
    if($(this).attr('class').indexOf('sort2')!=-1){
      orderByCount=orderByCount=='max'?'min':'max';
      fetchData({
        orderByCount:orderByCount
      },function(res){
        
      })
    }

    //如果点击的是价格排序
    if($(this).attr('class').indexOf('sort3')!=-1){
      orderByPrice=orderByCount=='max'?'min':'max';
      fetchData({
        orderByPrice:orderByPrice
      },function(res){

      })
    }

    //如果点击的是搜索
    if($(this).attr('class').indexOf('search')!=-1){
      var search_text=$(this).val();
      //重置
      orderByCount='max';
      orderByPrice='min';
      fetchData({
        s:search_text
      },function(res){

      })

    }
  })
})
</script>


</html>
